@font-face {
    font-family: 'Public Sans';
    src: url("../Font/PublicSans-VariableFont_wght.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Public Sans Italic';
    src: url("../Font/PublicSans-Italic-VariableFont_wght.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url("../Font/Inter-VariableFont_opsz\,wght.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Public Sans", "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    justify-content: center;
}

.headerContainer {
    background-color: #D5FAFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    font-family: "Public Sans";
}

header img {
    height: 50px;
}

.topRightButtons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center; 
    margin-right: 10px; 
}

.homeButton,
.menuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #3A3AB1;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 200px;
    font-size: 12px;
    box-shadow: none;
    border: none; 
    transition: background-color 0.3s ease, transform 0.2s ease;  
}

.profileImage img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.homeButton:hover,
.menuButton:hover {
    background-color: #27278A;
    transform: scale(1.05);
}

.icon {
    width: 16px;
    height: 16px;
}

.menuNav {
    background-color: #0c20b3;
    width: 300px;
    height: 310px;
    border-radius: 10px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    max-width: 2000px;
    position: absolute;
    right: 20px;
    z-index: 1000;
}

.menuBarHeader {
    width: 270px;
    margin-left: 20px ;
}

.menuBarHeader h3 {
    color:#FFFFFF;
    font-size: 25px;
    text-align: left;
    font-weight: bold;
}

.menuBarList{
    width: 200px;
    margin: auto;
}

.menuBarList ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 200px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}
  
.menuBarList li {
    margin: 20px 0;
    padding: 0 10px;
}

.menuBarList a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.menuBarList a:hover {
    color: #AFCBFF; 
}

.logOutContainer {
    display: flex;
    align-items: center;
    margin: 10px 10px 0 10px; 
}

.logOutContainer img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.logOutContainer a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logOut:hover {
    color: #AFCBFF; 
}

.hidden {
    display: none;
}

main {
    text-align: center;
    padding: 0 20px 40px 20px;
    font-family: "Public Sans";
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.content img {
    width: 350px; 
    margin-bottom: 50px;
}

.mainTitle {
    font-size: 35px; 
    font-weight: bolder; 
    text-align: left; 
    margin: 0px 20px 20px 20px; 
    font-family: "Public Sans"; 
}

.paymentSection {
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
}

.paymentTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    font-weight: bold;
}
  
.paymentTable th,
.paymentTable td {
    border: 3px solid #000;
    padding: 10px;
    text-align: center;
}
  
.paymentTable .totalLabel {
    text-align: right;
    padding-right: 10px;
}

.paymentMethods {
    text-align: center;
    margin-top: 20px;
}

.method {
    display: inline-block;
    padding: 10px;
    margin: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    width: 70px; 
    height: auto;
    transition: border-color 0.3s ease;
}

.method:hover {
    border-color: #aaa; 
}

.method.selected {
    border-color: #3A3AB1; 
    box-shadow: 0px 0px 10px #3A3AB1;
}

.paymentIcon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.method span {
    display: block;
    font-weight: bold;
    font-size: 14px;
}
  
.buttonContainer {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    width: 100%; 
    margin: 80px 20px 0;
}

.backButton, 
.payButton {
    background-color: #0c20b3;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.backButton:hover,
.payButton:hover {
    background-color: #27278A;
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 500px;
    text-align: center;
    position: relative;
}

.noButton,
.yesButton {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.noButton {
    background-color: #d9534f;
    color: white;
}

.noButton:hover {
    background-color: #c9302c;
}

.yesButton {
    background-color: #007bff;
    color: white;
}

.yesButton:hover {
    background-color: #0056b3;
}

footer {
    background-color: #312783;
    color: #ffffff;
    padding: 20px 10px;
    font-size: 14px;
    margin-top: 50px;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.footerColumn {
    flex: 1;
    margin: 0 20px;
    text-align: left;
    font-family: "Inter";
}

.footerColumn h3 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #ffffff;
    font-family: "Inter"
}

.footerColumn p {
    margin: 0;
    line-height: 1.5;
}

.socialIcons a {
    margin-right: 10px;
    text-decoration: none;
}

.socialIcons img {
    width: 32px;
    height: 32px;
}

.footerBottom {
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 12px;
    font-family: "Inter";
}

.footerContainer .footerColumn:not(:last-child) {
    border-right: 2px solid #ffffff;
}